/* .input-fields */
.input-field input[type=text] {
    color: white;
}
/* .input-fields */
.input-field input[type=password] {
    color: white;
}

/* Materialize CSS color Modification for login input fields*/

/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ffff00 !important;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ffff00 !important;
     box-shadow: 0 1px 0 0 #000;
   }

   /* input[type=password] */
   /* label focus color for type="Password"*/
   .input-field input[type=password]:focus + label {
     color: #ffff00 !important;
    }

/* label underline focus color for type="Password*/
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #ffff00 !important;
     box-shadow: 0 1px 0 0 #000;
   }